@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,400;1,500&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    
}
.header{
    position: sticky;
    height: 13vh;
    width: 100vw;
    display: flex;
    background-color: black;
    
}
.header-name{
    width: 500px;
    font-size: 50px;
    color: white;
    padding-left: 30px;
    padding-top: 15px;
}
.header-other-pages{
    width: 900px;
    height: auto;
    margin-left: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}
li{
    display: inline;
    margin-left: 45px;
    font-size: 18px;
}
.contact{
    height: 30vh;
    width: 100vw;
    color: white;
    background-color: black;
    justify-content: center;
    text-align: center;
}
.contact-me{
    padding-top: 20px;
    font-size: 40px;

}
.more-info{
    margin-top: 30px;
    font-size: 25px;

}
.fill-details{
    height: 60vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
.details{
    margin-top: 10vh;
    height: 45vh;
    width: 35vw;
    display: grid;
    background-color: black;
}
.send-message{
    margin-top: 10vh;
    height: 45vh;
    width: 35vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
.button{
    height: 10vh;
    width: 100vw;
    background-color: black;
}

.send-message-button{
    height: 60px;
    width: 150px;
    font-size: 17px;
    border-radius: 20px;
    margin-left: 42vw;
}
.det{
    height: 8vh;
    width: 25vw;
    margin-left:0vw;
    margin-top: 3vh;
    border-radius: 15px;
    font-size: 19px;
    padding-left: 10px;

}
.enter-message{
    height: 40vh;
    width: 30vw;
    font-size: 20px;
}
