@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,400;1,500&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.header{
    position: sticky;
    height: 13vh;
    width: 100vw;
    display: flex;
    background-color: black;
    
}
.header-name{
    width: 500px;
    font-size: 50px;
    color: white;
    padding-left: 30px;
    padding-top: 15px;
}
.header-other-pages{
    width: 900px;
    height: auto;
    margin-left: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}
li{
    display: inline;
    margin-left: 45px;
    font-size: 18px;
}
.main-container{
    width: 100vw;
    height: 100vh;
    background-color: red;
}
.curriculum-vitae{
    width: 100vw;
    height: 20vh;
    color: black;
    text-align: center;
    background-color: white;
}
h1{
    padding-top: 15px;
}
.quote{
    font-size: 23px;
    padding-top: 25px;
}
.complete-detail{
    width: 100vw;
    height: 80vh;
    background-color: aqua;
    display: flex;
}
.profile-image{
    width: 30vw;
    height: 80vh;
    background-color: blueviolet;
}
.image{
    height: 40vh;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}
.my-image{
    height: 220px;
    width: 220px;
    background-color:white;
    border: 5px solid blue;
    border-radius: 50%;

}
.name-information{
    height: 30vh;
    width: auto;
    text-align: center;
    background-color:white;
}
.ABC{
    font-size: 20px;
    padding-top: 15px;
}
.soscial-media{
    height: 10vh;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:white;
    /* border: 1px solid black; */
}
.soscial-media-icons{
    font-size: 40px;
    padding-left: 20px;
    
}
.professional-skills{
    height: 25vh;
    width: auto;
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.personal-inetrest{
    height: 20vh;
    width: auto;
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: white;
}
.skills-p{
    padding-top: 20px;
    font-size: 30px;
    color: black;
    align-items: center;
}
.skills-s{
    font-size: 20px;
    padding-left: 30px;
    align-items: center;

}
.profile-detail{
    width: 70vw;
    height: 80vh;
    background-color: white;
}
.detail{
   font-size: 40px;
}
.more-detail{
    font-size: 25px;
}


