@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,400;1,500&display=swap');
*{
    margin: 0;
    padding: 0;
    
}
.header{
    position: sticky;
    height: 13vh;
    width: 100vw;
    display: flex;
    background-color: black;
    
}
.header-name{
    width: 500px;
    font-size: 50px;
    color: white;
    padding-left: 30px;
    padding-top: 15px;
}
.header-other-pages{
    width: 900px;
    height: auto;
    margin-left: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}
li{
    display: inline;
    margin-left: 45px;
    font-size: 18px;
}


.main-page{
    height: 88vh;
    width: 100vw;
    background-color: aqua;
}
.main-page-name{
    margin-left: 550px;
    padding-top: 150px;
    font-size: 60px;
    font-family: 'Poppins', sans-serif;

}
.main-page-course{
    margin-left: 140px;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 40px;

}
.main-page-button{
    height: 70px;
    width: 150px;
    margin-left: 700px;
    font-size: 22px;
    background-color: rgb(88, 88, 251);
    border: 1px solid black;
    border-radius: 10px;

}
.main-page-button:hover{
    background-color: rgb(12, 12, 241);
}
.footer{
    height: 12vh;
    width: 100vw;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.copyright{
    font-size: 25px;
    height: auto;
    width: 40vw;
}
.social-media{
    height: 12vh;
    width: 40vw;
    margin-left: 20vw;
    display: flex;
    justify-content: center;
    text-align: center;
}
.soscial-media-iconsA{
    margin-left: 2vw;
    font-size: 35px;
    padding-top: 3.5vh;
}